h2.title {
    font-size: 32px;
    color: gray;
    text-align: center;
    padding: 10px 0 50px;
    margin: 0;
}
p.description {
    font-size: 16px;
    text-align: center;
}

.top {
    padding: 10px 16px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    h2.title {
        font-size: 24px;
        padding-bottom: 24px;
    }

    p.description {
        font-size: 14px;
        line-height: 1.6;
    }
}
