.booking-search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 12px;

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

@media (max-width: 768px) {
    h2.title,
    .search-hotel-name {
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }
}
